* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
tr{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid black;
}

th,td{
    border: 1px solid black;
    padding: 8px 0;
    vertical-align: top;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
td ul {
    margin: 0;
    padding-left: 16px;
}
td li {
    margin-bottom: 4px;
}
table{
    word-wrap: normal;
    border-collapse: collapse;
    border: 1px solid black;
    width: 100%;
    table-layout: fixed;
}
table th:nth-child(1),
table td:nth-child(1) {
    width: 5%;
    text-align: center;

}
table th:nth-child(2),
table td:nth-child(2) {
    width: 15%;
}
table th:nth-child(3),
table td:nth-child(3) {
    width: 35%;
}
table th:nth-child(4),
table td:nth-child(4) {
    width: 20%;
}
table th:nth-child(5),
table td:nth-child(5) {
    width: 25%;
}
nav ul{
    overflow: hidden;
    background-image: url("/Images/Berg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    list-style-type: none;
    display: flex;
}
nav a{
    color: rgb(60, 167, 255);
    text-decoration: none;
    display: block;
    padding: 2rem;
    text-align: center;
    font-weight: bold;

}
nav a:hover{
    color: black;
    text-decoration: underline;
background-color: rgba(60, 167, 255, 0.6);
}
.rollen{
    word-wrap: normal;
    border-collapse: collapse;
    border: 1px solid black;
    padding: 1rem;
    width: 100%;
    table-layout: fixed;

}

.rollen th:nth-child(1),
.rollen td:nth-child(1) {
    width: 25%;
}
.rollen th:nth-child(2),
.rollen td:nth-child(2) {
    width: 75%;
}
.title{
    text-align: center;
    font-weight: bold;
    padding: 1rem;
}
h2{
 text-align: center;
    font-weight: bold;
    padding: 1rem;

}
h1{
    text-align: center;
    font-weight: bold;
    padding: 1rem;
    text-decoration: underline;
color: white;
    background-image: linear-gradient(to left, #ffffff, #000000, #ffffff);
}
p{
    text-align: Center;
    padding: 0.5rem;
}
.rol {
    column-span: all;
    border : none;
    width: 100%;
}
#vakantie{
    column-span: all;
    border : none;
    width: 100%;
}
#Kvakantie{
    column-span: all;
    border : none;
    width: 100%;
}
#Kvakantie2{
    column-span: all;
    border : none;
    width: 100%;
}
